
.about-page {

  .toppadding {
    padding-top: 5rem;
  }

  .banner__content{
    padding-top: 0;

    h1 {
      font-size: rem-calc(64px);
      line-height: rem-calc(56px);
      font-weight: 600;
      text-transform: uppercase;
    }

    h1 em {
      font-size: 70%;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  h2 {
    background-color: $black;
    display: inline-block;
    font-size: rem-calc(48px);
    line-height: rem-calc(48px);
    font-weight: 600;
    padding-right: 2rem;
    position: relative;
    text-transform: uppercase;
    width: auto;
    z-index: 5;
  }

  h2 em {
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
  }

  h3 em {
    font-size: 70%;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.reasons {
  margin-bottom: 2rem;
  position: relative;

  &:before {
    border-top: 1px solid $white;
    content: "";
    display: block;
    position: relative;
    top: 50%;
    z-index: 4;
  }
}

.reason-text {
  padding-left: 1rem;

  @include breakpoint (small only) {
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 0;
  }
}

.reason-icon {
  padding-bottom: 1rem;

  img {
    height: 70px;
  }
}

.about-logo {
  margin: auto;
  width: 80%;

  @include breakpoint(medium only) {
    width: 60%;
  }

  @include breakpoint(small only) {
    width: 70%;
  }
}