.course-page {

  .banner__heading {
    position: relative;
    top: 8rem;
    z-index: 10;

    .page-title {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  .banner__content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
  }

  .banner2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 0 2rem;
    min-height: 480px;
    padding: 0 !important;
    position: relative;
  }

  .facility {

    .facilities-banner {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      padding-top: calc(25% - 4rem) !important;

      h4 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin: 0;
        text-align: left;
      }
    }

    .facilities-content {
      margin-top: 1rem;

    }
  }

  .owl-nav {
    top: unset;
    bottom: 2rem;
  }

  .openday {
    position: relative;

    .openday-text {
      @include vertical-center;

    }

    .openday-image {
      min-height: 480px;
    }
  }

  .testimonials {

    .section-header {
      text-align: center;
    }

    blockquote {
      border-left: none;
      color: $white;
      margin: 0;
      padding: 0;

      cite {
        color: $white;
        font-size: 1.6rem;
        font-style: normal;
        line-height: 1.6rem;
        text-transform: uppercase;

        &.location {
          font-weight: 700;
          margin-bottom: 1rem;
        }

        &:before {
          content: none;
        }
      }
    }
  }

  .content.whitebg {
    background-color: $white;
    color: $black;
  }

  .fees {

    h4 {
      border-bottom: 1px solid $black;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}
