body {
  background-color: $black;

  .button {
    background-color: $white;
    border: 2px solid $white;
    border-radius: 1rem;
    color: $black;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    margin: 0;
    min-width: 200px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.25s ease-out, color 0.25s ease-out;

    &.black {
      background-color: $black;
      border: 2px solid $black;
      color: $white;
    }

    &.trans {
      background-color: transparent;
      border: 2px solid $white;
      color: $white;
    }
  }

  .button:hover {
    background-color: transparent;
    color: $white;

    &.black {
      background-color: $white;
      border: 2px solid $black;
      color: $black;
    }

    &.trans {
      background-color: $white;
      color: $black;
    }
  }
}

.content.nopadding {
  padding: 0;
}

.content .grid-container.fullwidth {
  max-width: 100%;
  padding: 0;
}

.content.topborder {
  border-top: 1px solid #333333;
  padding: 4rem 0 4rem;
}

.inner-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 4rem 0;

  &.offer {
    padding: 3rem 0;
  }

  h3,
  h4 {
    margin: 0;
  }
}

.testimonials {

  .testimonial {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-top: 30%;
  }
}

.owl-carousel .owl-nav {
  position: absolute;
  top: calc(50% - 2rem);
  width: 100%;

  .owl-prev {
    float: left;
    margin-left: 2rem;
  }

  .owl-next {
    float: right;
    margin-right: 2rem;
  }

  button.owl-prev {
    background-color: $medium-gray;
    background-image: url("images/arrow-left.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1rem;
    border-radius: 100%;
    display: block;
    height: 1rem;
    padding: 1.5rem !important;
    position: relative;
    transform: rotate(180deg);
    width: 1rem;
  }

  button.owl-next {
    background-color: $medium-gray;
    background-image: url("images/arrow-right.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1rem;
    border-radius: 100%;
    display: block;
    height: 1rem;
    padding: 1.5rem !important;
    position: relative;
    width: 1rem;
  }
}

.owl-carousel button.owl-dot {
  background: $white;
  border-radius: 100%;
  height: 15px;
  margin: 5px;
  width: 15px;

  &.active {
    background: transparent;
    border: 1px solid $white;
    height: 16px;
    width: 16px;
  }
}

.accreditation {
  padding-top: 2rem;

  img {
  padding: 0 2rem;
  }
}

.content.patrons {
  padding-top: 2rem;
  padding-bottom: 0;

  .patron {

    .patron-picture {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      display: block;
      height: 0;
      margin-bottom: 1rem;
      padding-top: 100%;
      width: 100%;
    }

    .patron-name {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    .patron-quote {
      margin-bottom: 1rem;
    }
  }
}

a.right-arrow {
  background-color: $medium-gray;
  border-radius: 2rem;
  display: inline-block;
  height: 3rem;
  margin-top: 0.5rem;
  width: 3rem;

  img {
    padding: 1rem;
  }
}

.joinus {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
